# 1. 파이썬 라이브러리 사용
* pip install numpy
* import numpy as np
* numpy의 속성 및 메소드 사용법 : 점표기법 ex) np.random... 등 .표기
    * np.메서드()
    * np.속성

In [5]:
import numpy as np  # 다차원 행렬 연산
np.random.seed(12345)
np.set_printoptions(precision=4, suppress=True)

In [6]:
import numpy as np
data = [np.random.standard_normal() for i in range(7)] # 리스트 표기법
data

[-0.20470765948471295,
 0.47894333805754824,
 -0.5194387150567381,
 -0.55573030434749,
 1.9657805725027142,
 1.3934058329729904,
 0.09290787674371767]

In [7]:
data = [] # 빈 리스트
for i in range(7):
    data.append(np.random.standard_normal())
print(data)

[0.2817461528302025, 0.7690225676118387, 1.2464347363862822, 1.0071893575830049, -1.2962211091122635, 0.274991633432124, 0.22891287893531592]

### 파이썬은 '리스트 표기법'을 선호한다

In [8]:
data_array = np.array(data)
data_array

array([ 0.2817,  0.769 ,  1.2464,  1.0072, -1.2962,  0.275 ,  0.2289])

# 2. 변수와 참조

In [9]:
a = [1, 2, 3] # 참조
print(a)

[1, 2, 3]

In [10]:
b = a # 변수 a와 b가 동일한 객체 [1, 2, 3[
b

[1, 2, 3]

In [12]:
a.append(4) # 데이터 추가 : 리스트.append()
b  # 위쪽에서 이미 b = a 라고 선언했기 때문에 b값도 같이 append된다.

[1, 2, 3, 4, 4]

# 3. 사용자 정의 함수 & 호출

In [6]:
# define function
def append_element(some_list, element): # 위치 인자
    some_list.append(element)

#call function
data = [1, 2, 3] #global var
element = "python" # int, 불리안, list...
append_element(data, element)

data

[1, 2, 3, 'python']

# 4. 내장형 함수 : type()

In [9]:
a = 5
print(type(a))
a = "foo"
print(type(a))

<class 'int'>
<class 'str'>

# 5. 형변환
* int()
* float()
* bool()

In [10]:
"5" + 5 # 자동 형 변환 불가능 = 문법 오류

TypeError: can only concatenate str (not "int") to str

In [12]:
# 숫자 간 자동 형 변환 가능
a = 4.5
b = 2
# String formatting, to be visited later
print(f"a is {type(a)}, b is {type(b)}") #f : 
a / b  # 정수 -> 실수 자동 변환

a is <class 'float'>, b is <class 'int'>

2.25

# 6. 내장 함수 : isinstance()

In [13]:
?isinstance

Signature: isinstance(obj, class_or_tuple, /)
Docstring:
Return whether an object is an instance of a class or of a subclass thereof.

A tuple, as in ``isinstance(x, (A, B, ...))``, may be given as the target to
check against. This is equivalent to ``isinstance(x, A) or isinstance(x, B)
or ...`` etc.
Type:      builtin_function_or_method

In [14]:
a = 5
isinstance(a, int)

True

In [15]:
a = 5; b = 4.5
isinstance(a, (int, float))
isinstance(b, (int, float))

True

# 6. 내장함수 : isiterable()
* 반복 가능한 객체인지 알려주는 함수
* 사용 상황
    - for loop
    - list() # 리스트 형 변환

In [13]:
a = "foo"

In [14]:
getattr(a, "split")

In [21]:
def isiterable(obj):
    try:
        isiterable(obj)
        return True
    except TypeError: # not iterable
        return False

In [19]:
isiterable("a string")
isiterable([1, 2, 3])
isiterable(5)

False

In [17]:
5 - 7
12 + 21.5
5 <= 2

# 7. 예약어
* is
* is not

In [22]:
a = [1, 2, 3]
b = a
c = list(a) # 새로운 리스트 객체
a is b
a is not c

True

In [23]:
a == c # == : 객체의 내용을 비교

True

# 8. None 객체
* null 의미

In [24]:
a = None
a is None

True

# 9. 순차 자료형 : list, tuple, str
## 1. list
- [], list()  // 데이터 생성
- 수정, 삭제, 추가 연산 가능 : mutable type이라고 명칭함
  - append(), pop(), remove(), insert()
  - 참조 : 인덱싱 이용 - 리스트변수명[데이터 위치(정수)]
  - 추출 : 슬라이싱 - 리스트변수명[시작위치:끝위치:간격(데이터간격)]
- 연산자
  - 리스트 + 리스트 -> 리스트
  - 리스트 * 정수 -> 리스트를 정수 만큼 복사해서, 새로운 리스트 생성

* 메소드
  - 변수.count()

## 2. tuple
- (), tuple()  // 데이터 생성
- 수정, 삭제, 추가 연산 불가능 : immutable type이라고 명칭함
  - 참조 : 인덱싱 이용 - 리스트변수명[데이터 위치(정수)]
  - 추출 : 슬라이싱 - 리스트변수명[시작위치:끝위치:간격(데이터간격)]
- 연산자
  - 튜플 + 튜플 -> 튜플
  - 튜플 * 정수 -> 튜플 정수 만큼 복사해서, 새로운 튜플 생성
* 메소드
  - 변수.count()
 
## 3. str
- "", str()  // 데이터 생성
- 수정, 삭제, 추가 연산 불가능 : immutable type이라고 명칭함
- replace() : 문자열에서 지정된 부분 문자열을 다른 문자열로 대체하는 데 사용
  - 참조 : 인덱싱 이용 - 리스트변수명[데이터 위치(정수)]
  - 추출 : 슬라이싱 - 리스트변수명[시작위치:끝위치:간격(데이터간격)]
- 연산자
  - 문자열 + 문자열 -> 문자열
  - 문자열 * 정수 -> 문자열을 정수 만큼 복사해서, 새로운 문자열 생성

In [25]:
a_list = ["foo", 2, [4, 5]]
a_list[2] = (3, 4)
a_list

['foo', 2, (3, 4)]

In [26]:
a_tuple = (3, 5, (4, 5))
a_tuple[1] = "four" # 수정 불가능

TypeError: 'tuple' object does not support item assignment

In [23]:
ival = 17239871
ival ** 6

In [24]:
fval = 7.243
fval2 = 6.78e-5

In [25]:
3 / 2

In [26]:
3 // 2

In [27]:
c = """
This is a longer string that
spans multiple lines
"""

In [28]:
c.count("\n")

3

In [29]:
a = "this is a string"
a[10] = "f" # 수정 불가능해서 오류

TypeError: 'str' object does not support item assignment

In [30]:
b = a.replace("string", "longer string")
b

a is b

False

In [31]:
a

In [32]:
a = 5.6
s = str(a)
print(s)

In [33]:
s = "python"
list(s)
s[:3]

In [34]:
s = "12\\34"
print(s)

In [35]:
s = r"this\has\no\special\characters"
s

In [31]:
a = "this is the first half "
b = "and this is the second half"
a + b

'this is the first half and this is the second half'

In [32]:
template = "{0:.2f} {1:s} are worth US${2:d}"

In [33]:
template.format(88.46, "Argentine Pesos", 1)

'88.46 Argentine Pesos are worth US$1'

In [34]:
amount = 10
rate = 88.46
currency = "Pesos"
result = f"{amount} {currency} is worth US${amount / rate}"

In [35]:
f"{amount} {currency} is worth US${amount / rate:.2f}"

'10 Pesos is worth US$0.11'

## 문자열(유니코드) <-> 바이트 인코딩 & 디코딩
* encoding()
* decoding()

In [36]:
val = "español"
val

'español'

In [37]:
val_utf8 = val.encode("utf-8")
val_utf8
type(val_utf8)

bytes

In [38]:
txt = val_utf8.decode("utf-8")
type(txt)

str

In [39]:
val.encode("latin1")
val.encode("utf-16")
val.encode("utf-16le")

b'e\x00s\x00p\x00a\x00\xf1\x00o\x00l\x00'

# 10. non-sequence 자료형
* dict
* bool
  * True(1)
  * False(0)
  * 예약어 not

In [40]:
# bool
True and True
False or True

True

In [41]:
int(False)
int(True)

1

In [42]:
a = True
b = False
not a
not b

True

In [43]:
s = "3.14159"
fval = float(s)
type(fval)
int(fval)
bool(fval)
bool(0)

False

In [49]:
a = None
a is None
b = 5
b is not None

# 11. 시계열 데이터 처리
* 시간, 날짜 : datetime 객체 (연, 월, 일, 시, 분, 초)
* 시간 기간 : datetime.timedelta 객체
  * 두 날짜 또는 시간 간의 차이를 나타내는 데 사용되는 클래스
  * 날짜, 시간 또는 둘 모두 간의 시간 간격

In [45]:
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21)
dt.day
dt.minute

30

In [46]:
dt.date()
dt.time()

datetime.time(20, 30, 21)

In [47]:
dt.strftime("%Y-%m-%d %H:%M")

'2011-10-29 20:30'

In [48]:
datetime.strptime("20091031", "%Y%m%d")

datetime.datetime(2009, 10, 31, 0, 0)

In [49]:
dt_hour = dt.replace(minute=0, second=0)
dt_hour

datetime.datetime(2011, 10, 29, 20, 0)

In [50]:
dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [51]:
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt
delta
type(delta)

datetime.timedelta

In [52]:
dt
dt + delta

datetime.datetime(2011, 11, 15, 22, 30)

In [53]:
a = 5; b = 7
c = 8; d = 4
if a < b or c > d:
    print("Made it")

Made it

In [54]:
4 > 3 > 2 > 1

True

# 12. iteraable 객체
* range(start, end, step)

In [55]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

In [56]:
range(10)
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [57]:
list(range(0, 20, 2))
list(range(5, 0, -1))

[5, 4, 3, 2, 1]

In [58]:
seq = [1, 2, 3, 4]
for i in range(len(seq)):
    print(f"element {i}: {seq[i]}")

element 0: 1
element 1: 2
element 2: 3
element 3: 4

In [59]:
total = 0
for i in range(100_000):
    # % is the modulo operator
    if i % 3 == 0 or i % 5 == 0:
        total += i
print(total)

2333316668